# Dependencies
node_modules/

# Builds
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/ios/.symlinks/
**/macos/Flutter/ephemeral/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Uploads (keep folder)
uploads/*
!uploads/.gitkeep

# Secrets / local env
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
*.log
coverage/
.idea/
.vscode/
*.iml

# Misc
*.apk
*.aab
*.ipa
.vercel
